# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

main.exe

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/

# Application data
maillist.json